page-period-modal {
  .equal-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .equal-item {
    flex: 1;
  }
  .title {
    font-size: 2rem;
    text-align: center;
  }
}
