page-student-modal {
  .dark {
    background-color: darkgray;
  }
  ion-avatar img {
    width: 120px !important;
    height: 120px !important;
  }
  .inside-middle {
    position: absolute;
    margin-top: -81px;
    margin-left: 10px;
    width: 100px;
    background-color: white;
    color: #696565;
  }
  .equal-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .equal-item {
    flex: 1;
  }
  .holiday-table {
    background-color: #e0e0e0;
  }
  .header {
    font-weight: bold;
    text-align: center;
  }
  .title {
    border: 1px solid #e0e0e0;
  }
  .icon-btn {
    font-size: 1.5em;
  }
  .list_header {
    font-size: 2rem;
    color: black;
    text-decoration: underline blue;
  }
  .table {
    border: 1px solid #c2c2c2;
  }
}