page-lodge {
  .hide {
    display: none;
  }
  ion-item-options .button {
    text-transform: none !important;
  }
  .box {
    border-left: 6px solid red;
    margin-bottom: 5px;
  }
  .lodged {
    border-left-color: #8bc34a;
  }
  .button_text {
    margin-left: 6px;
  }
  .card_title {
    font-size: 2rem;
    padding-bottom: 4px;
  }
  .color_button {
    color: #303F9F;
  }
  .right_button {
    padding-right: 10px;
  }
}